---
---
<div class="row">
  {% if site.enable_publication_thumbnails %}
    <div class="col col-sm-2 abbr">
      {%- if entry.abbr -%}
        {%- if site.data.venues[entry.abbr] -%}
          {% assign venue_style = null %}
          {% if site.data.venues[entry.abbr].color != blank %}
            {% assign venue_style = site.data.venues[entry.abbr].color | prepend: 'style="background-color:' | append: '"' %}
          {%- endif -%}
          <abbr class="badge rounded w-100" {% if venue_style %}{{ venue_style }}{% endif %}>
            {% if site.data.venues[entry.abbr].url %}
              <a href="{{ site.data.venues[entry.abbr].url }}">{{ entry.abbr }}</a>
            {% else %}
              <div>{{- entry.abbr -}}</div>
            {% endif %}
          </abbr>
        {% else %}
          <abbr class="badge rounded w-100">{{ entry.abbr }}</abbr>
        {% endif %}
      {% endif %}
      {% if entry.preview %}
        {% if entry.preview contains '://' %}
          <img class="preview z-depth-1 rounded" src="{{ entry.preview }}">
        {% else %}
          {% assign entry_path = entry.preview | prepend: '/assets/img/publication_preview/' %}
          {%
            include figure.liquid
            loading="eager"
            path=entry_path
            sizes="200px"
            class="preview z-depth-1 rounded"
            zoomable=true
            alt=entry.preview
          %}
        {% endif %}
      {% endif %}
    </div>
  {% endif %}

  <!-- Entry bib key -->
  <div id="{{ entry.key }}" class="{% if site.enable_publication_thumbnails %}col-sm-8{% else %}col-sm-10{% endif %}">
    <!-- Title -->
    <div class="title">{{ entry.title }}</div>
    <!-- Author -->
    <div class="author">
      {% assign author_array_size = entry.author_array | size %}
      {% assign author_array_limit = author_array_size %}
      {% if site.max_author_limit and author_array_size > site.max_author_limit %}
        {% assign author_array_limit = site.max_author_limit %}
      {% endif %}

      {%- for author in entry.author_array limit: author_array_limit -%}
        {% assign author_is_self = false %}
        {%- assign author_last_name = author.last | regex_replace: '[*∗†‡§¶‖&^]', '' -%}
        {%- assign author_last_html = author.last | regex_replace: '([*∗†‡§¶‖&^]+)', '<sup>\1</sup>' -%}
        
        {%- if author.first == 'Meiqing' and author.last == 'Wang' -%}
          <u>{{ author.first }} {{ author_last_html }}</u> <!-- Underline only your name -->
        {%- else -%}
          {%- if coauthor_url -%}
            <a href="{{ coauthor_url }}">{{ author.first }} {{ author_last_html }}</a>
          {%- else -%}
            {{ author.first }} {{ author_last_html }}
          {% endif %}
        {%- endif -%}

        {% unless forloop.last %},&nbsp;{% endunless %}
      {% endfor %}
    </div>

    <!-- Journal/Book title and date -->
    <div class="periodical">
      <em>{{ entry.journal }}</em>, {{ entry.year }}
    </div>

    <!-- Links/Buttons -->
    <div class="links">
      {% if entry.pdf %}
        <a href="{{ entry.pdf }}" class="btn btn-outline-secondary btn-sm z-depth-0" style="border-color: black; border-width: 1px; color: black;">Paper Link</a>
      {% endif %}
      {% if entry.webpage %}
        <a href="{{ entry.webpage }}" class="btn btn-outline-secondary btn-sm z-depth-0" style="border-color: black; border-width: 1px; color: black;">Webpage</a>
      {% endif %}
    </div>

    {% if site.enable_publication_badges %}
      {% assign entry_has_altmetric_badge = false %}
      {% if entry.altmetric and entry.altmetric != 'false' %}
        {% assign entry_has_altmetric_badge = true %}
      {% endif %}
      {% assign entry_has_dimensions_badge = false %}
      {% if entry.dimensions and entry.dimensions != 'false' %}
        {% assign entry_has_dimensions_badge = true %}
      {% endif %}
      {% assign entry_has_google_scholar_badge = false %}
      {% if entry.google_scholar_id %}
        {% assign entry_has_google_scholar_badge = true %}
      {% endif %}
      {% assign entry_has_inspirehep_badge = false %}
      {% if entry.inspirehep_id %}
        {% assign entry_has_inspirehep_badge = true %}
      {% endif %}
      {% if entry_has_altmetric_badge or entry_has_dimensions_badge or entry_has_google_scholar_badge or entry_has_inspirehep_badge %}
        <div class="badges">
          {% if site.enable_publication_badges.altmetric and entry_has_altmetric_badge %}
            <span
              class="altmetric-embed"
              data-badge-type="2"
              data-badge-popover="right"
              {% if entry.altmetric != blank and entry.altmetric != 'true' %}
                data-altmetric-id="{{ entry.altmetric }}"
              {% elsif entry.arxiv %}
                data-arxiv-id="{{ entry.arxiv }}"
              {% elsif entry.eprint %}
                data-arxiv-id="{{ entry.eprint }}"
              {% elsif entry.doi %}
                data-doi="{{ entry.doi }}"
              {% elsif entry.pmid %}
                data-pmid="{{ entry.pmid }}"
              {% elsif entry.isbn %}
                data-isbn="{{ entry.isbn }}"
              {% endif %}
            ></span>
          {% endif %}
          {% if site.enable_publication_badges.dimensions and entry_has_dimensions_badge %}
            <span
              class="__dimensions_badge_embed__"
              {% if entry.dimensions != blank and entry.dimensions != 'true' %}
                data-id="{{ entry.dimensions }}"
              {% elsif entry.doi %}
                data-doi="{{ entry.doi }}"
              {% else %}
                data-pmid="{{ entry.pmid }}"
              {% endif %}
              data-style="small_rectangle"
              data-legend="hover-right"
              style="margin-bottom: 3px;"
            ></span>
          {% endif %}
          {% if site.enable_publication_badges.google_scholar and entry_has_google_scholar_badge %}
            <a
              href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user={{ site.scholar_userid }}&citation_for_view={{ site.scholar_userid }}:{{ entry.google_scholar_id }}"
              aria-label="Google Scholar link"
              role="button"
            >
              <img
                src="https://img.shields.io/badge/scholar-{% google_scholar_citations site.scholar_userid entry.google_scholar_id %}-4285F4?logo=googlescholar&labelColor=beige"
                alt="{% google_scholar_citations site.scholar_userid entry.google_scholar_id %} Google Scholar citations"
              >
            </a>
          {% endif %}
          {% if site.enable_publication_badges.inspirehep and entry_has_inspirehep_badge %}
            <a
              href="https://inspirehep.net/literature/{{ entry.inspirehep_id }}"
              aria-label="Inspirehep link"
              role="button"
            >
              <img
                src="https://img.shields.io/badge/inspire-{% inspirehep_citations entry.inspirehep_id %}-001628?logo=inspire&logoColor=001628&labelColor=beige"
                alt="{% inspirehep_citations entry.inspirehep_id %} InspireHEP citations"
              >
            </a>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
