<div class="row">
  {% if site.enable_publication_thumbnails %}
    <div class="col col-sm-2 abbr">
      {%- if entry.abbr -%}
        {%- if site.data.venues[entry.abbr] -%}
          {% assign venue_style = null %}
          {%- if entry.type == 'article' -%}
            {% assign venue_style = 'style="background-color: blue;"' %} <!-- Blue for journal papers -->
          {%- elsif entry.type == 'inproceedings' -%}
            {% assign venue_style = 'style="background-color: purple;"' %} <!-- Purple for conference proceedings -->
          {%- endif -%}
          <abbr class="badge rounded w-100" {{ venue_style }}>
            {% if site.data.venues[entry.abbr].url %}
              <a href="{{ site.data.venues[entry.abbr].url }}">{{ entry.abbr }}</a>
            {% else %}
              <div>{{- entry.abbr -}}</div>
            {% endif %}
          </abbr>
        {% else %}
          {%- if entry.type == 'article' -%}
            <abbr class="badge rounded w-100" style="background-color: #0056b3;">{{ entry.abbr }}</abbr> <!-- Default blue for journal papers -->
          {%- elsif entry.type == 'inproceedings' -%}
            <abbr class="badge rounded w-100" style="background-color: purple;">{{ entry.abbr }}</abbr> <!-- Default purple for conference proceedings -->
          {%- else -%}
            <abbr class="badge rounded w-100">{{ entry.abbr }}</abbr>
          {%- endif -%}
        {% endif %}
      {% endif %}
      {% if entry.preview %}
        {% if entry.preview contains '://' %}
          <img class="preview z-depth-1 rounded" src="{{ entry.preview }}">
        {% else %}
          {% assign entry_path = entry.preview | prepend: '/assets/img/publication_preview/' %}
          {%
            include figure.liquid
            loading="eager"
            path=entry_path
            sizes="200px"
            class="preview z-depth-1 rounded"
            zoomable=true
            alt=entry.preview
          %}
        {% endif %}
      {% endif %}
    </div>
  {% endif %}

  <!-- Entry bib key -->
  <div id="{{ entry.key }}" class="{% if site.enable_publication_thumbnails %}col-sm-8{% else %}col-sm-10{% endif %}">
    <!-- Title -->
    <div class="title">{{ entry.title }}</div>
    <!-- Author -->
    <div class="author">
      {%- for author in entry.author_array -%}
        {% assign author_is_self = false %}
        {%- assign author_last_name = author.last | regex_replace: '[*∗†‡§¶‖&^]', '' -%}
        {%- assign author_last_html = author.last | regex_replace: '([*∗†‡§¶‖&^]+)', '<sup>\1</sup>' -%}

        <!-- Add asterisk for corresponding author -->
        {% if author.first == 'Meiqing' and author.last == 'Wang' %}
          <u>{{ author.first }} {{ author_last_html }}</u>* <!-- Adding * for corresponding author -->
        {% else %}
          {{ author.first }} {{ author_last_html }}
        {% endif %}

        {% unless forloop.last %},&nbsp;{% endunless %}
      {% endfor %}
    </div>

    <!-- Journal/Book title and date -->
    <div class="periodical">
      {% if entry.booktitle %}
        <em>{{ entry.booktitle }}</em> {% if entry.year %} {{ entry.year }}{% endif %}
      {% else %}
        <em>{{ entry.journal }}</em>, {{ entry.year }}
      {% endif %}
    </div>

    <!-- Links/Buttons -->
    <div class="links">
      {% if entry.pdf %}
        <a href="{{ entry.pdf }}" class="btn btn-outline-secondary btn-sm" style="border: 1px solid black !important; color: black !important;">Paper Link</a> <!-- Explicit black button with !important -->
      {% endif %}
      {% if entry.webpage %}
        <a href="{{ entry.webpage }}" class="btn btn-outline-secondary btn-sm" style="border: 1px solid black !important; color: black !important;">Webpage</a> <!-- Explicit black button with !important -->
      {% endif %}
    </div>

    {% if site.enable_publication_badges %}
      {% assign entry_has_altmetric_badge = false %}
      {% if entry.altmetric and entry.altmetric != 'false' %}
        {% assign entry_has_altmetric_badge = true %}
      {% endif %}
      {% assign entry_has_dimensions_badge = false %}
      {% if entry.dimensions and entry.dimensions != 'false' %}
        {% assign entry_has_dimensions_badge = true %}
      {% endif %}
      {% assign entry_has_google_scholar_badge = false %}
      {% if entry.google_scholar_id %}
        {% assign entry_has_google_scholar_badge = true %}
      {% endif %}
      {% assign entry_has_inspirehep_badge = false %}
      {% if entry.inspirehep_id %}
        {% assign entry_has_inspirehep_badge = true %}
      {% endif %}
      {% if entry_has_altmetric_badge or entry_has_dimensions_badge or entry_has_google_scholar_badge or entry_has_inspirehep_badge %}
        <div class="badges">
          {% if site.enable_publication_badges.altmetric and entry_has_altmetric_badge %}
            <span
              class="altmetric-embed"
              data-badge-type="2"
              data-badge-popover="right"
              {% if entry.altmetric != blank and entry.altmetric != 'true' %}
                data-altmetric-id="{{ entry.altmetric }}"
              {% elsif entry.arxiv %}
                data-arxiv-id="{{ entry.arxiv }}"
              {% elsif entry.eprint %}
                data-arxiv-id="{{ entry.eprint }}"
              {% elsif entry.doi %}
                data-doi="{{ entry.doi }}"
              {% elsif entry.pmid %}
                data-pmid="{{ entry.pmid }}"
              {% elsif entry.isbn %}
                data-isbn="{{ entry.isbn }}"
              {% endif %}
            ></span>
          {% endif %}
          {% if site.enable_publication_badges.dimensions and entry_has_dimensions_badge %}
            <span
              class="__dimensions_badge_embed__"
              {% if entry.dimensions != blank and entry.dimensions != 'true' %}
                data-id="{{ entry.dimensions }}"
              {% elsif entry.doi %}
                data-doi="{{ entry.doi }}"
              {% else %}
                data-pmid="{{ entry.pmid }}"
              {% endif %}
              data-style="small_rectangle"
              data-legend="hover-right"
              style="margin-bottom: 3px;"
            ></span>
          {% endif %}
          {% if site.enable_publication_badges.google_scholar and entry_has_google_scholar_badge %}
            <a
              href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user={{ site.scholar_userid }}&citation_for_view={{ site.scholar_userid }}:{{ entry.google_scholar_id }}"
              aria-label="Google Scholar link"
              role="button"
            >
              <img
                src="https://img.shields.io/badge/scholar-{% google_scholar_citations site.scholar_userid entry.google_scholar_id %}-4285F4?logo=googlescholar&labelColor=beige"
                alt="{% google_scholar_citations site.scholar_userid entry.google_scholar_id %} Google Scholar citations"
              >
            </a>
          {% endif %}
          {% if site.enable_publication_badges.inspirehep and entry_has_inspirehep_badge %}
            <a
              href="https://inspirehep.net/literature/{{ entry.inspirehep_id }}"
              aria-label="Inspirehep link"
              role="button"
            >
              <img
                src="https://img.shields.io/badge/inspire-{% inspirehep_citations entry.inspirehep_id %}-001628?logo=inspire&logoColor=001628&labelColor=beige"
                alt="{% inspirehep_citations entry.inspirehep_id %} InspireHEP citations"
              >
            </a>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
